$primary-color: #A9EEE6;
$secondary-color: #F38181;
$background-color: #FEFAEC;
$text-color: #625772;


.float-nav {
  position: fixed;
  right: 1rem;
  top: 20%;
  color: $text-color;
  display: flex;
  
  input#toggle {
    display: none;
  }
  
  label[for="toggle"] {
    &:hover {
      cursor: pointer;
    }
  }
  
  #menu-toggle {   
    position: absolute;
    background-color: $color-white;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:0 .5rem .5rem rgba($color-black, .2);
    
    &:before{
        content: "";
        display: inline-block;
        height:2rem;
        width: 2rem;

        //older-browsers
       // background-image: url(../img/SVG/cog.svg);
        //background-size: cover;

        //newer browsers -masks
        background-color: $color-primary;
        mask-image: url(../img/SVG/cog.svg);
        mask-size: cover;
       -webkit-mask-image: url(../img/SVG/cog.svg);
       -webkit-mask-size: cover;
    }
    
  }
  
  #toggle:checked {
    
    & ~ label {
      visibility: hidden;
    }
    & ~ ul {
      visibility: visible;
      transition: visibility 0s,
                opacity 0.5s,
                height 0.3s,
                width 0.3s;
      opacity: 1;
      width:25rem;
      height: 50vh;
      padding: 2rem;
      font-size: 1.5rem;
    }
  }
  
  
  ul {
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    display: flex;
    flex-direction: column;
    background-color:rgba($color-white, .9);
    padding:1.5rem;
    list-style: none;
    margin: 0;
    box-shadow: var(--shadow-light);
    position: relative;
    border-radius: 3px;

    transition: visibility 0s,
                opacity 0.5s 0.3s,
                height 0.3s,
                width 0.3s;
    
    
     label {
padding: .5rem 0;
display: flex;
width: 100%;
flex-direction: row-reverse;

.close-label{

  width: 2rem;
  height:2rem;
  fill: $color-primary;
}

    }
    
    li {
      display: flex;

      & a{

        display: flex;
        padding: .5rem .2rem;
        transition: all .1s;

        &:link,
        &:visited
        {

            color: currentColor;
            text-decoration: none;
            
        }

        &:hover,
        &:focus{
            color:$color-primary;   
        }
    }
    }
  }
}